.newsletter-block {
  text-align: center;
  background-image: url(./assets/media/newsletter_bgimg.jpg), $warm-gradient;
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
  @include container-padding;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    background-image: url(./assets/media/news-bg-ie.jpg);
  }

  &__title {
    @include title;
    padding: 2rem 0;
    margin-top: 3rem;
  }
}
