.icons-block {
  background-color: $light-grey;
  text-align: center;
  @include container-padding;

  &__wrap {
    color: $subtitle-color;
    margin-bottom: 2rem;
    @media (min-width: $screen-sm) {
      display: flex;
      justify-content: center;
      align-items: baseline;
      flex-wrap: wrap;
    }
  }

  &__item {
    flex: 1 50%;
    padding: 1rem;
    @media (min-width: $screen-lg) {
      flex: 1 25%;
    }
  }

  &__title {
    font-size: 1.67rem;
    font-weight: bold;
    padding: 1rem;
    @include text-gradient;
    white-space: nowrap;
  }
}
