.logo {
  display: none;
  font-weight: bold;
  font-size: 2rem;

  &__span--light {
    font-weight: 300;
  }

  &--mobile {
    font-weight: bold;
    font-size: 2rem;
    display: inline-block;

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  @media (min-width: $screen-lg) {
    display: initial;
  }
}
