.button {
  padding: 1rem 3rem;
  border: none;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  &--withIcon {
    padding: 0.7rem 2rem;
    color: white;
  }

  &--blue {
    background: linear-gradient(45deg, #264699 0%, #667db7 100%);
    color: white;
  }

  &--primary {
    color: #d32721;
    background: white;
  }

  &--transparent {
    border: 1px solid white;
    background-color: transparent;
  }
}
