.App {
  color: white;
  font-family: "ProximaNova";
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  padding: 2rem 10vw;
  width: 100%;
}

.header__logo {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1;
}

.header__logo--light {
  font-weight: 300;
}

.main-nav__link {
  margin-left: 1rem;
}

.main-nav__link:not(:last-child) {
  margin-right: 1rem;
}

.hero-section {
  height: 100vh;
  background-image: url(./assets/media/header_bg.png),
    url(./assets/media/header_bg.png),
    linear-gradient(51deg, #cb0035 20%, #e06900 80%);
  background-blend-mode: soft-light;
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-section__content {
  position: relative;
  text-align: center;
  top: 32.5vh;
}

.hero-section__slogan {
  margin-bottom: 2rem;
}

.hero-section__slogan p {
  opacity: 0.4;
}

.main-button {
  display: inline-block;
  border: none;
  padding: 1rem 3rem;
  margin: 1rem;
  text-decoration: none;
  color: #d32721;
  background: white;
  border-radius: 50px;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  font-family: "ProximaNova";
  font-size: inherit;
}

.main-button__icon {
  padding-right: 1rem;
}

.main-button--transparent {
  padding: 1rem 2rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.main-button--blue {
  margin: 0 1rem 4rem 1rem;
  background: linear-gradient(45deg, #264699 0%, #667db7 100%);
  color: white;
}

.scroll-icon {
  position: absolute;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  opacity: 0.6;
}

.scroll-icon__icon {
  margin: 1rem;
}

.scroll-icon__text {
  font-size: 14px;
}

/* Icons Section */
.icons-section {
  background-color: #f6f6f6;
  text-align: center;
  padding: 0 10vw;
}

.icons-block {
  display: flex;
  color: #5e6372;
  justify-content: center;
  align-items: baseline;
}

.icon-block {
  padding: 4rem 0;
}

.icon-block__title {
  font-size: 1.67rem;
  background: linear-gradient(51deg, #cb0035 20%, #e06900 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
